<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{siteTitle}}</title>

    <link rel='stylesheet' href='/css/main.css'>
    <link rel="stylesheet" href="/css/libnotify.css">
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="js/lib/handlebars-v4.0.5.js"></script>
    <script src="js/lib/humane.min.js"></script>
    <script src="/js/cfg.js"></script>

</head>

<body lang="en">

<header id="layout-marker">
</header>
<div id="canvas" class="container">
    {{{body}}}
</div>
<div class="messenger"></div>
</body>
</html>